@import "../../components/vars.scss";

.grasp-seasons {
  font-size: 12px;
  color: #222;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;

  .left-col {
    width: 378px;
  }

  .right-col {
    width: 280px;
    position: relative;
  }

  .left-col, .right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-view {
    width: 378px;
    height: 374px;
    position: relative;
    color: #fff;

    .playback-controls {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      flex-direction: row;

      label {
        font-weight: normal;
      }
    }

    .tilt-slider {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 36px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .slider-container {
        height: 90px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .view-type-dropdown {
      position: absolute;
      top: 10px;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: -15px;
    }
  }

  .ground-view-label {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .sunlight-at-noon {
    position: absolute;
    top: 36px;
    width: 126px;
    height: 24px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ground-view {
    width: 252px;
    height: 115px;
    border: 1px solid #222;
  }

  .solar-intensity {
    margin-top: 10px;
    margin-bottom: 14px;

    .solar-intensity-value-and-unit {
      display: inline-block;

      .solar-intensity-value {
        display: inline-block;
        width: 46px;
        white-space: nowrap;
      }
    }
  }

  select {
    width: 220px;
  }

  label {
    display: inline-flex;
    align-items: center;
    margin-right: 3px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .day-row {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;

    .day {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 130px;
    }
  }

  .day-slider {
    width: 333px;
    margin-bottom: 10px;
  }

  .animation-btn {
    width: 70px;
    margin-right: 5px;
  }

  .long-lat-sliders {
    margin-top: 20px;
    width: 220px;

    .slider-container {
      margin-bottom: 30px;

      .top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;

        .lat-input, .long-input {
          @include text-input;
        }

        .lat-input {
          width: 45px;
        }
        .long-input {
          width: 49px;
          margin-right: 4px;
          margin-left: -5px;
        }
      }
    }
  }

  .btn {
    background: #eb8723;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: .375em .625em;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 3px 0 #e16a3e;
    background: linear-gradient(to bottom, rgb(244, 182, 38) 0%, rgb(235, 135, 35) 100%);
  }

  .btn-small {
    padding: .31em .625em;
    line-height: 1em;
  }

  .btn:active, .btn:focus, .btn:hover, .btn:visited {
    background: #eb8723;
    border: none;
    color: #fff !important;
    background: rgb(244, 182, 38);
  }

  .rays-ground-text{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color:white;
  }

  .earth-gridlines-toggle{
    margin-top: 6px;
    height: 25px;
    input {
      margin-left:6px;
    }
  }

  .orbit-button-bg {
    background-color: #fff;
    border-radius: 3px;
    margin-right: 10px;
  }

  .orbit-button {
    @include rect-button;
    & {
      width: 80px;
      background-color: white;
      padding-left: 33px;
    }
    &:hover {
      background-color: $teal-light-25;
    }
    &:active {
      background-color: $teal-light-50;
    }
    svg {
      position: absolute;
      left: 7px;
    }
  }
}
