@import "./vars.scss";

$tab-height: 26px;
$general-tab-width: 80px;
$location-tab-width: 74px;
$simulation-tab-width: 88px;
$about-tab-width: 60px;

.tab-container {
  background-color: white;
  padding-top:$edge-padding + 4px;
  padding-left: $edge-padding;
  padding-right: $edge-padding;
  width: 100%;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  border-bottom:1px solid #222;
  height: $tab-height;
  display: flex;

  .tab {
    position: absolute;
    text-align: center;
    padding: 4px $tab-padding;
    cursor: pointer;
    color: #222;
    border: 1px solid #222;
    margin-right: -1px;
    border-radius: 4px 4px 0 0;
    display:inline-block;
    bottom:-1px;
    background-color: #f0f0f0;

    &.active {
      background-color: white;
      border-bottom: 1px solid white;
      font-weight: bold;
      z-index: 3;
      height: 18px;
    }

    &:hover:not(.active) {
      background-color: $codap-teal-lightest;
    }

    &.location {
      left: $edge-padding;
    }

    &.simulation {
      left: $edge-padding + $location-tab-width;
      &.disabled {
        color: silver;
      }
    }

    &.about {
      left: $edge-padding + $location-tab-width + $simulation-tab-width;
      &.active {
        left: $edge-padding + $location-tab-width + $simulation-tab-width - 1px;
      }
    }
  }
}
