@import "./vars.scss";

.header {
  p {
    margin: 0;
  }

  .info-icon {
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

.tab-container {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  justify-content: flex-start;

  .tab {
    flex: 0 0 auto;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #666;
    border: 1px solid $codap-teal;
    border-bottom: none;
    margin-right: -1px;
    position: relative;
    border-radius: 8px 8px 0 0;
    background-color: #e9e9e9;

    &.active {
      background-color: white;
      color: $codap-teal;
      border-bottom: 1px solid white;
      z-index: 2;
    }

    &:hover:not(.active) {
      background-color: #e0e0e0;
    }
  }
}
