@import "./vars";

.location-tab {
  // width: 375px; // should match plugin config width
  // padding:10px;
  background-color: white;
  position: relative;
  // left:-10px; // there is a space coming from CODAP (outside iframe) on the left side

  hr {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-top: 1.5px solid rgba($codap-teal, 0.3);
  }

  .latitude,
  .longitude {
    display: flex;
    align-items: center;
    label {
      margin-left: auto;
      text-align: right;
      margin-right: 10px;
    }
    input {
      width: 250px;
      padding: 5px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1.5px solid rgba($codap-teal, 0.3);
    }
  }

  .or-container {
    position: relative;
    text-align: left;
    margin: 15px 0;
  }

  .or {
    display: inline-block;
    background-color: white;
    padding: 0 10px;
    color: $codap-teal;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  .latitude {
    margin-top: 12px;
  }

  .attributes-selection {
    display: flex;
    flex-direction: column;
    label {
      width: 100%;
      box-sizing: border-box;
    }
    .attribute-tokens {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 10px;
      gap: 3px;

      li.token {
        padding: 6px 12px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        background-color: white;
        list-style: none;
        margin:3px;
        color: #222;

        &.on {
          background-color: $codap-teal-lightest;
          border: 1px solid $codap-teal;
        }

        &.off {
          background-color: white;
          border: 1px solid $codap-teal;
        }
      }
    }
  }

  .data-buttons {
    justify-content: flex-end;

    button {
      background-color: white;
      padding: 6px 12px;
      border-radius: 4px;
      margin-left: 10px;
      cursor: pointer;
      border: 1px solid $codap-teal;
      color: $codap-teal;
      transition: background-color 0.3s, color 0.3s;
      &:disabled {
        color: #ccc;
        border-color: #ccc;
        &:hover {
          color: #ccc;
        }
      }
      &:hover:not(:disabled) {
        background-color: $codap-teal-light;
        color: white;
      }
    }
  }
}