.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

.ui-slider{
  $borderColor: #177991;

  background-color: #eef7f9;
  border: 1px solid $borderColor;
  border-radius: 4px;
  height: 8px;
  margin-top: 12px;
  margin-bottom: 12px;

  .ui-slider-handle {
    border-radius: 16px;
    width: 32px;
    height: 32px;
    margin-top: -9px;
    margin-left: -16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: 1px solid $borderColor;
    cursor: grab;

    &:hover {
      background-color: rgba(220, 239, 242, 0.8) !important;
    }
    &:active {
      cursor: grabbing;
      background-color: rgba(185, 223, 229, 0.8) !important;
    }
  }

  .ui-slider-with-tick-labels {
    margin-bottom: 25px;
  }

  .ui-slider-tick {
    position: absolute;

    .ui-slider-tick-mark {
      background-color: $borderColor;
      width: 1px;
      height: 100%;
    }
  }

  .ui-slider-tick-label {
    margin-top: 15px;

    &.active {
      font-weight: bold;
    }
  }

  &.ui-slider-vertical {
    width: 8px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;

    .ui-slider-handle {
      margin-left: -10px;
      margin-bottom: -15px;
    }
  }
}
