@import "./vars.scss";

.about-tab {
  box-sizing: border-box;
  width: $location-tab-width;
  height: $location-tab-height;
  padding: $tab-padding;
  font-weight: 500;
  overflow-y: scroll;
  max-height: 480px;
  user-select: text;

  img {
    width: 60px;
    display: inline;
    float: right;
    margin: -25px 0 5px 5px;
  }

  h2, h3 {
    font-size: 12px;
    font-weight: 600;

    margin-top: 10px;
    &:first-child {
      margin-top: 5px;
    }
  }

  h3 {
    text-transform: uppercase;
  }

  hr {
    border-top: 1px solid $teal-light;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .subsection {
    p {
      padding-left: 10px;
    }
  }
}
