.App {
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  width: 300px;

  .plugin-row {
    width: 100%;
    margin-bottom: 10px;
    p {
      font-weight: bold;
      margin: 0px;
    }
  }
}
