@import "./vars.scss";

$tab-height: 26px;
$general-tab-width: 80px;
$location-tab-width: 104px;
$simulation-tab-width: 72px;
$about-tab-width: 60px;
$left-tab-margin: 3px;

.tab-container {
  background-color: white;
  padding-top: $edge-padding;
  padding-left: $edge-padding;
  padding-right: $edge-padding;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #777;
  height: $tab-height;
  display: flex;

  .tab {
    position: absolute;
    text-align: center;
    padding: 4px 10px;
    color: #222;
    border: 1px solid #222;
    margin-right: -1px;
    border-radius: 4px 4px 0 0;
    display: inline-block;
    bottom: -1px;
    background-color: #fafafa;

    &.active {
      background-color: white;
      border-bottom: 1px solid white;
      font-weight: 600;
      z-index: 3;
      height: 18px;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &:hover:not(.active) {
      cursor: pointer;
      background-color: $teal-light-25;
    }

    &.location {
      left: $left-tab-margin;
    }

    &.simulation {
      left: $left-tab-margin + $location-tab-width;
    }

    &.about {
      left: $left-tab-margin + $location-tab-width + $simulation-tab-width;

      &.active {
        left: $left-tab-margin + $location-tab-width + $simulation-tab-width - 1px;
      }
    }
  }
}
