@import "./vars.scss";

.simulation-tab {
  padding: $tab-padding;
  width: $sim-tab-width;
  height: $sim-tab-height;

  .button-container {
    display: flex;
    justify-content: flex-end;

    .get-data-button {
      margin-top: -27px;
      margin-right: 13px;
      z-index: 1;
    }
  }
}
