.square-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #177991;
  border-radius: 3px;
  border: 1px solid #177991;
  background-color: white;
  cursor: pointer;
}
